<launch>
  <!-- <arg name="video_stream_url" default="rtsp://admin:admin@192.168.42.108:554/live"/> -->
  <arg name="video_stream_url" default="rtsp://192.168.144.25:8554/main.264"/>
  <node pkg="rocon_rtsp_camera_relay" name="rtsp_camera_relay" type="rocon_rtsp_camera_relay_node">
    <param name="video_stream_url"    value="$(arg video_stream_url)"/>
    <remap from="/rtsp_camera_relay/image" to="/A2/image_raw"/>
  </node>
</launch>